[Unit]
Description=FastAPI Server
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user/jenkins_fastapi
ExecStart=/usr/bin/python3 /home/ec2-user/Jenkins_pipeline/app.py
Restart=always

[Install]
WantedBy=multi-user.target
