[Unit]
Description=FastAPI Server
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/jenkins_fastapi
ExecStart=/usr/bin/python3 /home/ubuntu/Jenkins_pipeline/app.py
Restart=always

[Install]
WantedBy=multi-user.target
